<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <title>Admin panel</title>
</head>

<body>

<header>
    <div class="header">
        <div class="w-50">
            <p><span class="fw-bold" th:text="${user.username}"></span> with roles:
                <span th:text="${#strings.listJoin(user.roles, ' ')}"></span>
            </p>
        </div>
        <div class="w-50" style="text-align: end">
            <form id="form_logout" method="POST" th:action="@{/logout}">
                <input type="submit" value="Logout" class="inpLogout"/>
            </form>
        </div>
    </div>
</header>


<div id="content">
    <div class="row content_row_main">
        <div class="col-2 content_col_1">
            <div class="block_blue p-2 position-relative">
                <a id="link_admin" class="stretched-link text-decoration-none text-white" href="/admin">Admin</a>
            </div>
            <div class="p-2 text-primary position-relative">
                <a id="link_user" class="stretched-link text-decoration-none" href="/user">User</a>
            </div>
        </div>

        <div class="col-10 content_col_2">
            <div class="block_for_tab">
                <div class="tab-pane fade show active" id="admin">
                    <h2 style="font-weight: 600;">Admin panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#usersTable"
                               data-toggle="tab" id="usersTab">Users Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#newUser" data-toggle="tab">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="usersTable">
                            <div style="font-weight: 600;" class="border p-2 ps-3">All users</div>
                            <div class="container-fluid border bg-white p-2">
                                <table class="table table-striped p-2">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="usersTableBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="newUser">
                            <div style="font-weight: 600;" class="border p-2 ps-3">New user</div>
                            <div class="container border bg-white p-2">
                                <form id="newUserForm">
                                    <br>
                                    <label for="firstName" class="form-label">First name</label>
                                    <input required type="text" id="firstName" class="form-control"
                                           placeholder="First name">
                                    <br>
                                    <label for="lastName" class="form-label">Last name</label>
                                    <input required type="text" id="lastName" class="form-control"
                                           placeholder="Last name">
                                    <br>
                                    <label for="username" class="form-label">Username</label>
                                    <input required type="text" id="username" class="form-control"
                                           placeholder="Username">
                                    <br>
                                    <label for="password" class="form-label">Password</label>
                                    <input required type="password" id="password" class="form-control"
                                           placeholder="Password">
                                    <br>
                                    <label for="roles" class="form-label">Roles</label>
                                    <select id="roles" name="roleIds" multiple required
                                            class="form-control h-auto"></select>
                                    <br>
                                    <input type="submit" value="Add new user" class="btn btn-success">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для редактирования пользователя -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" id="myModal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div id="editUserForm" class="was-validated align-content-center">
                        <br>
                        <label for="editUserId" class="form-label">ID</label>
                        <input type="text" name="id" id="editUserId" class="form-control" readonly>
                        <br>

                        <label for="editFirstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="editFirstName" name="firstName" required>
                        <br>

                        <label for="editLastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="editLastName" name="lastName" required>
                        <br>

                        <label for="editUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="editUsername" name="username" required>
                        <br>

                        <label for="editPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="editPassword" name="password">
                        <br>

                        <label for="editRoles" class="form-label">Role</label>
                        <select id="editRoles" name="roleIds" multiple required class="form-control">
                        </select>
                        <br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitEditUserForm">Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для удаления пользователя -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div id="deleteUserForm" class="was-validated align-content-center">
                        <br>
                        <label for="deleteUserId" class="form-label">ID</label>
                        <input type="text" name="id" id="deleteUserId" class="form-control" readonly>
                        <br>

                        <label for="deleteFirstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="deleteFirstName" name="firstName" readonly>
                        <br>

                        <label for="deleteLastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="deleteLastName" name="lastName" readonly>
                        <br>

                        <label for="deleteUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="deleteUsername" name="username" readonly>
                        <br>

                        <label for="deleteRoles" class="form-label">Role</label>
                        <select id="deleteRoles" name="roleIds" multiple class="form-control" disabled>
                        </select>
                        <br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="submitDeleteUserForm">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="module" th:src="@{JavaScript/index.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>