<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="'User id: ' + ${user.id}">User id</p>
<p th:text="'User first name: ' + ${user.firstName}">First name</p>
<p th:text="'User last name: ' + ${user.lastName}">Last name</p>
<p th:text="'Username: ' + ${user.getUsername()}">Last name</p>
<div th:each="role:${roles}">
    <a th:text="${role.getName()}"></a>
</div>

<br>
<br>

<a href="/logout">Logout </a>


</body>
</html>
